<div class="h-screen w-full flex flex-row justify-center items-center">
    <div class="card w-96 mx-auto bg-white  shadow-xl hover:shadow" *ngIf="user">
        <img
            class="w-32 mx-auto rounded-full -mt-20 border-8 border-white"
            [src]="user.avatar_url"
            alt=""
        >
        <div class="text-center mt-2 text-3xl font-medium">{{ user.login }}</div>
        <div class="text-center mt-2 font-light text-sm">{{ user.id }}</div>
        <div class="text-center font-normal text-lg">{{ user.type }}</div>
        <div class="px-6 text-center mt-2 font-light text-sm">
            <p>{{ user.node_id }}</p>
        </div>
        <hr class="mt-8">
        <div class="flex p-4">
            <div class="w-1/2 text-center">
                <span class="font-bold">{{ user.followers }}</span> Followers
            </div>
            <div class="w-0 border border-gray-300"></div>
            <div class="w-1/2 text-center">
                <span class="font-bold">{{ user.following }}</span> Following
            </div>
        </div>
        <div class="flex p-4">
            <div class="w-1/2 text-center">
                <span class="font-bold">{{ user.public_repos }}</span> Repos
            </div>
            <div class="w-0 border border-gray-300"></div>
            <div class="w-1/2 text-center">
                <span class="font-bold">{{ user.public_gists }}</span> Gists
            </div>
        </div>
    </div>
</div>
